/*---Base Layout---*/

* {
    box-sizing: border-box;
}

html,
body {
    background:rgb(240, 240, 240);
}

body {
    font-family: 'Roboto', serif;
}

h3 { 
    text-align: center;
}

hr { 
    width: 90%;
}

.container { 
    padding: 0px;
}

/*---About Me---*/

.bio { 
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.greeting { 
    color: teal;
}

.profile {
    width: 20%;
    border-radius: 10px;
    border: 1px solid grey;
    margin-left: 20px;   
}

.profile:hover {
    width: 20%;
    border: 2px solid green;
    margin-left: 20px;
}

/*---Nav Layout---*/

.navigation { 
    margin-top: 15px;
}

.navigation a { 
    color: black;
    font-size: 16px;
}

.nav-item a:hover { 
    border: 1px solid grey;
}

/*---Alert Layout---*/

.alert { 
    padding: 5px;
    margin-bottom: 5px;

    
}
.alert-banner { 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    padding: 0 10px;
    background-color:white;
    color: teal;
    border-radius: 5px;
    border: solid 1px gray;
   
}
.alert-banner h5{ 
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: auto;
}

.alert-close { 
    font-size: 16px;
    margin-left: auto;
    margin-bottom: 0px;
    line-height:20px;
    cursor: pointer;
    transition: 0.5s;
}

/*---Portfolio Layout---*/

.card.my-3.mx-2 { 
    border: solid 1px gray;
}

.card.my-3.mx-2:hover { 
    background: whitesmoke;
}

.portfolio h5 { 
    color:grey;
    text-align: center;
}

.skills { 
    text-align: center;
}

.card-body p {
    text-align: center;
}

img,
.card-img-top { 
    margin-top: 10px;
    padding: 5px 10px;
}

/*---Contact Layout---*/

.contact h6 { 
    text-align: center;
}


.contact a { 
    color: grey; 
    margin-left: 5px;
    margin-right: 5px;
    
}

.contact p { 
    text-align: center;
}

.return-top a { 
    color: black;
    font-size: 12px;
}

/*---Media Query---*/

@media (min-width: 768px){
    .about-me {
        display: flex;
    
    }
    .bio { 
        margin-top: 15px;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;  
    }
    .profile {
        border: 1px solid grey;
        border-radius: 20px;
        width: 30%;
        height: 30%;
    }

    .profile:hover {
        transform: rotate(1deg);
        width: 30%;
        border: 2px solid green;
    }

    .portfolio { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .card-body {
        padding: 20px;
        width: 100%;
    }
  
}

@media (min-width: 1024px) {
    .bio { 
        text-align: center;
        margin-left: 20px;
        margin-top: 30px;
        font-size: 22px;
    }

    .profile { 
        margin-right: 10px;
    }

    .container {
        max-width: 1440px;
    }

    .portfolio { 
        display: flex;
    }

    .card-body a { 
        margin-bottom: 20px;
    }
   
    .card-body p{
        text-align: left;
        margin-bottom: 20px;
    }
}
    